@use '../../../_css/queries.scss' as *;

.card {
  position: relative;
  border-radius: 4px;
  background-color: var(--color-base-1000);
  min-height: 360px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
  cursor: pointer;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  border-radius: 10px;
  padding: 16px;
  width: 100%;
  text-align: center;
  background-color: rgb(0, 0, 0);
}